@charset  "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

html {
    box-sizing: border-box;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Edu AU VIC WA NT Hand';
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    padding: 0.5%;
}

img {
    max-width: 100%;
}

nav {
    font-size: x-large;
}

ul {
    display: flex;
    position: absolute;
    right: 0;
}

li {
    list-style: none;
    margin: 5px;
}

h1 {
    font-size: 3rem;
}

#mainvisual {
    width: 100vw;
}

#about img {
    border-radius: 50%;
    position: left;
    width: 20%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 30px;
}

#bicycle img {
    padding :5px;
}

#footer {
    font-size: 0.5rem;
    padding: 10px;
    text-align: center;
  }

@media screen and (max-width:600px){

    nav {
        display: flex;
        flex-direction: column;
    }

    .about {
        display: flex;
        flex-direction: column;
    }


    #bicycle ul {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}
