@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    /* background-color: #4b4b4b; */
    font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
}

#header1 {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #dfdfdf;
    /* position: fixed;
    top: 0; */
    display: flex;
    align-items: center;
}

#header2 {
    width: 100%;
    padding: 10px 4% 5px;
    background: url("../home.jpg");
    backdrop-filter: sepia(50%);
    display: flex;
    align-items: center;
}

nav {
    margin: 0 0 0 auto;
}

a {
    text-decoration: none;
    /* color: #4b4b4b; */
    padding: 0 0;
}

ol {
    display: flex;
    padding: 0 0;
}

li {
    margin: 0 0 0 15px;
    padding: 0 0;
}


.fadeIn{
    animation: fadeInAnime;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}